table { border:1px solid black; border-collapse:collapse; }

table tr th { background:#8B2311; border-bottom:1px solid black; color:white; background:#28261A; }
table tr td { padding: 3px 8px; color: #443434; }
table tr { background:#DFD8AA; }
table tr:nth-child(odd) { background: #EFE8BA; }
