
body {
	font-family: "Gill Sans MT", Calibri, sans-serif;
}

#header {
	margin: -8px auto 0 auto;
	z-index:1;
	height:235px;
	position:relative;
	top:0;
	max-width:1150px;
}

#subnav {
	height:42px;
	width:100%;
	z-index:2;
}

#subnav #links {
	margin:auto;
	width:520px;
}

#subnav #links a {
	float:left;
	width:145px;
	height:28px;
	line-height:30px;
	margin:6px 12px;
	text-decoration:none;
	color:#e8e8e8;
	text-align:center;
	display:block;
	position:relative;
	border:2px solid #bab1af;
	overflow:hidden;
	-webkit-transition: background-color .25s ease-in;
	transition: background-color .25s ease-in;
	z-index:3;
}

#subnav a span.text {
	display:block;
	-webkit-transition: margin-top .5s ease-in;
	transition: margin-top .5s ease-in;
}
#subnav a:hover span.text {
	margin-top:40px;
}
#subnav a span.logo {
	display:block;
	margin-top:-45px;
	opacity:.75;
	-webkit-transition: margin-top .5s ease-out;
	transition: margin-top .5s ease-out;
}
#subnav a:hover span.logo {
	margin-top:-4px;
}


#subnav #links a:hover {
	background-color:#002855 !important;
	color:#f3f3f3;
	-webkit-transition: all .75s ease-in;
	transition: all .75s ease-in;
}

#subnav a:before {
	position:absolute;
	content:'';
	top:-2px;
	left:-5px;
	height:16px;
	width:12px;
	background: #cac1bf;
	transform:skew(26deg);
}
#subnav a:after {
	position:absolute;
	content:'';
	bottom:-2px;
	left:-5px;
	height:16px;
	width:12px;
	background: #bab1af;
	transform:skew(-26deg);
}

#bio {
	width: 100%;
	margin: 8px 20px;
	font-size:16pt;
	margin:auto;
}

#content {
	font-family: "Droid Sans";
	font-size:11pt;
	width:100%;
	color:#666;
	z-index:2;
	background:white;
}
a {
	color:#005893;
}
a:visited {
	color:#002855;
}
a:hover {
	text-decoration:none;
	color:#002855;
}

#content .blurb {
	line-height:22px;
	width:780px;
	margin:20px auto;
}

#content .topic {
	font-size:15pt;
	border-bottom:1px solid red;
	font-family: Calibri;
	font-weight:bold;
	padding-left:12px;
	margin-bottom:-10px;
}

#content ul li{
	list-style-type:none;
	margin: 15px 0 15px 0;
}

#content ul li img {
	float:left;
	width:50px;
	margin: 0 8px;
	border-radius:50%;
	border:1px solid black;
	box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.25);
}

.profile_pic {
	float:left;
	width:73px;
	height:73px;
	background:url(../img/jryky.png);
	background-size:73px 73px;
	border-radius: 50%;
	overflow:hidden;
	margin: 0 15px 0 0;
	border:1px solid #333;
	box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.25);
}

#footer {
	width:100%;
	text-align:center;
	color: #cac1bf;
	font-family:Calibri;
	font-size:12px;
	margin:9px 0px;
 clear: both;
}

.mouseover-detail {
	position:absolute;
	z-index:4;
	animation: fadeIn .5s;
	-webkit-animation: fadeIn .5s;
}

.mouseover-detail img {
	border-radius:15px;
	border:8px solid black;
	box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.25);

}

@keyframes navDrop {
	0% { top:80px; }
	100% { top: 165px; }
}
@-webkit-keyframes navDrop {
	0% { top: 80px; }
	100% { top: 165px; }
}

@keyframes fadeIn {
	0% { opacity: .01 }
	100% { opacity: 1.00 }
}
@-webkit-keyframes fadeIn {
	0% { opacity: .01 }
	100% { opacity: 1.0 }
}
