
body {
	background-color:#212121;
	
}

#header {
	margin: -8px -8px 0 -8px;
	z-index:3;
	background:white; 
	height:110px;
	background-color: #212121;
	position:fixed;
	top:0;
	width:100%;
}

#cover {
	height:60px;
	width:100%;
	background: -webkit-linear-gradient(top, rgba(125,185,232,0) 0%, rgba(33,33,33,1) 50%); 
	z-index:4;
	position:fixed;
}


#bio {
	width: 100%;
	margin: 8px 20px;
	font-size:16pt;
	margin:auto;
}

#content {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-size:11pt;
	width:780px;
	margin:auto;
	top: 140px;
	margin-top:100px;
	padding-top:60px;
	color:#999;
}
a {
	color:#BF4799;
}
a:visited {
	color:#7F76A9;
}
a:hover {
	text-decoration:none;
}

#content .blurb {
	line-height:20px;
	margin:0 20px;
}

#content .topic {
	font-size:15pt;
	border-bottom:1px solid red;
	font-family: Calibri;
	font-weight:bold;
	padding-left:12px;
	margin-bottom:-10px;
}

#content ul li{
	list-style-type:none;
	margin: 15px 0 15px 0;
}

#content ul li img {
	float:left;
	width:50px;
	margin: 0 8px;
	border-radius:50%; 
	border:1px solid black;
	box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.25);
}

.profile_pic {
	float:left; 
	width:73px;
	height:73px;
	background:url(../img/jryky.jpg);
	border-radius: 50%;
	overflow:hidden;
	margin: 0 15px 0 0;
	border:1px solid #333;	     
	box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.25);
}

#footer {
	width:100%;
	text-align:center;
	color: #999;
	font-family:Calibri;
	font-size:12px;
	margin:9px 0px;
}

.mouseover-detail {
	position:absolute;
	z-index:4;
	animation: fadeIn .5s;
	-webkit-animation: fadeIn .5s;
}

.mouseover-detail img {
	border-radius:15px;
	border:8px solid black;
	box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.25);

}

@keyframes navDrop {
	0% { top:80px; }
	100% { top: 165px; }
}
@-webkit-keyframes navDrop {
	0% { top: 80px; }
	100% { top: 165px; } 
}

@keyframes fadeIn {
	0% { opacity: .01 }
	100% { opacity: 1.00 }
}
@-webkit-keyframes fadeIn {
	0% { opacity: .01 }
	100% { opacity: 1.0 }
}
